{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% for diary in diaries %}
        <div class="post">
            <div class="date">
                <p>Автор: <a href="{% url 'profile' pk=diary.author.pk %}"> {{ diary.author }}</a>
                    Опубликовано: {{ diary.published_date }}</p>
            </div>
            <h1><a href="{% url 'diary_detail' pk=diary.pk %}">{{ diary.name }}</a></h1>
            <p>{{ diary.description|linebreaksbr|truncatewords:80 }}</p>
            <p>
                <a href="{% url 'diary_detail' pk=diary.pk %}#comments ">
                    <img src="https://img.icons8.com/wired/32/000000/speech-bubble-with-dots.png">
                </a>
                    {{ diary.comments_amount }}&nbsp;&nbsp;
                <a href="{% url 'diary_detail' pk=diary.pk %}#likes ">
                    <img src="https://img.icons8.com/wired/32/000000/thumb-up.png" alt="Нравится">
                </a>
                    {{ diary.likes_amount }}&nbsp;&nbsp;
                <a href="{% url 'diary_detail' pk=diary.pk %}#dislikes ">
                     <img src="{% static '/icons/icons8.png' %}" alt="Не нравится">
                </a>
                    {{ diary.dislikes_amount }}
            </p>
        </div>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if diaries.has_previous %}
                <a href="?page={{ diaries.previous_page_number }}">предыдущая</a>
            {% endif %}

            <span class="current">
                Страница {{ diaries.number }} из {{ diaries.paginator.num_pages }}
            </span>

            {% if diaries.has_next %}
                <a href="?page={{ diaries.next_page_number }}">Следующая</a>
            {% endif %}
        </span>
    </div>
    <a href="https://icons8.com/icon/103881/облако-диалога-с-точками">icons by Icons8</a>
{% endblock %}
