{% extends 'base.html' %}

{% block content %}
    <h1>Авторизация</h1>
    {% if form.errors %}
    <p>Ваше имя пользователя и пароль не совпадают. Пожалуйста, попробуйте еще раз.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Ваша учетная запись не имеет доступа к этой странице. Для продолжения войдите в систему с учетной записью, которая имеет доступ.</p>
        {% else %}
        <p>Пожалуйста, авторизуйтесь, чтобы увидеть эту страницу.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
<!--        <div>-->
<!--          <td>{{ form.username.label_tag }}</td>-->
<!--          <td>{{ form.username }}</td>-->
<!--        </div>-->
<!--        <div>-->
<!--          <td>{{ form.password.label_tag }}</td>-->
<!--          <td>{{ form.password }}</td>-->
<!--        </div>-->
<!--        -->
        <div>
          <input type="submit" value="войти" />
          <input type="hidden" name="next" value="{{ next }}" />
        </div>
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>

{% endblock %}