{% extends 'base.html' %}

{% block content %}
    <div class="post">
        <h1>Профиль пользователя <b>{{ profile_user.username }}</b></h1>
        {% if user.is_authenticated and user != profile.user %}
            {% if follow_sign == True %}
                <p><a class="btn btn-default" href="{% url 'unsubscribe' pk=profile_user.pk %}">Отписаться</a></p>
            {% else %}
                <p><a class="btn btn-default" href="{% url 'subscribe' pk=profile_user.pk %}">Подписаться</a></p>
            {% endif %}
        {% endif %}
        {% if profile.region %}
            <p><b>Регион:</b> {{ profile.region}}</p>
        {% endif %}
        {% if profile.bio %}
            <p><b>О себе:</b> {{ profile.bio}}</p>
        {% endif %}
        {% if profile.birthday %}
            <p><b>День рождения:</b> {{ profile.birthday}}</p>
        {% endif %}
        {% if user.is_authenticated and user == profile.user %}
            <a class="btn btn-default" href="{% url 'profile_edit' pk=user.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
    </div>
    <div>
        <h1>Подписчики: </h1>
        {% if follower_relationships %}
            {% for relationship in follower_relationships %}
                <p><a href="{% url 'profile' pk=relationship.follower.pk %}">{{ relationship.follower }}</a></p>
            {% endfor %}
        {% else %}
            {% if user.is_authenticated and user == profile.user %}
                <p>Тут появятся ваши подписчики, когда на вас кто-то подпишется</p>
            {% else %}
                <p>Тут пока пусто</p>
            {% endif %}
        {% endif %}
    </div>
    <div>
        <h1>Подписки: </h1>
        {% if following_relationships %}
            {% for relationship in following_relationships %}
                <p><a href="{% url 'profile' pk=relationship.following.pk %}">{{ relationship.following }}</a></p>
            {% endfor %}
        {% else %}
            {% if user.is_authenticated and user == profile.user %}
                <p>Тут появятся ваши подписки, когда вы на кого-то подпишетесь</p>
            {% else %}
                <p>Тут пока пусто</p>
            {% endif %}
        {% endif %}
    </div>
    <h1>Посты пользователя: </h1>
    {% for diary in diary_list %}
        <div>
            <a href="{% url 'diary_detail' pk=diary.pk %}">{{ diary.name }}</a> {{ diary.published_date }}
        </div>
    {% endfor %}
{% endblock %}