{% extends 'base.html' %}

{% block content %}
    <div class="post">
        <h1>Профиль пользователя <b>{{ profile_user.username }}</b></h1>
        {% if profile.region %}
            <p><b>Регион:</b> {{ profile.region}}</p>
        {% endif %}
        {% if profile.bio %}
            <p><b>О себе:</b> {{ profile.bio}}</p>
        {% endif %}
        {% if profile.birthday %}
            <p><b>День рождения:</b> {{ profile.birthday}}</p>
        {% endif %}
        {% if user.is_authenticated and user == profile.user %}
            <a class="btn btn-default" href="{% url 'profile_edit' pk=user.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
    </div>
    <div>
        <h1>Подписчики: </h1>
        {% if follower_relationships %}
            {% for relationship in follower_relationships %}
                <p><a href="{% url 'profile' pk=relationship.follower.pk %}">{{ relationship.follower }}</a></p>
            {% endfor %}
        {% else %}
            <p>У вас пока нет подписчиков</p>
        {% endif %}
    </div>
    <div>
        <h1>Подписки: </h1>
        {% if following_relationships %}
            {% for relationship in following_relationships %}
                <p><a href="{% url 'profile' pk=relationship.following.pk %}">{{ relationship.following }}</a></p>
            {% endfor %}
        {% else %}
            <p>У вас пока нет подписок</p>
        {% endif %}
    </div>
{% endblock %}