{% extends 'base_with_map.html' %}
{% load static %}
{% load l10n %}

{% block content %}
    <script>
        function stars(star_hover){
            var starList = ["star1", "star2", "star3", "star4", "star5"];

            starList.forEach(function(item, i, arr) {
                if( i <= star_hover){
                    document.getElementById(item).classList.remove('fa-star-o');
                    document.getElementById(item).classList.remove('fa');
                    document.getElementById(item).classList.add('fa');
                    document.getElementById(item).classList.add('fa-star');
                }
                else{
                    document.getElementById(item).classList.remove('fa-star');
                    document.getElementById(item).classList.remove('fa');
                    document.getElementById(item).classList.add('fa');
                    document.getElementById(item).classList.add('fa-star-o');
                }
            });
        };
        function fill_stars(avg_rating){
            var starList = ["star1", "star2", "star3", "star4", "star5"];

            starList.forEach(function(item, i, arr) {
                if( i+1 <= Math.round(avg_rating)){
                    document.getElementById(item).classList.remove('fa-star-o');
                    document.getElementById(item).classList.add('fa-star');
                }
                else{
                    document.getElementById(item).classList.remove('fa-star');
                    document.getElementById(item).classList.add('fa-star-o');
                }
            });
        };

        function fill_stars_for_anonymous(avg_rating){
            var starList = ["rating1", "rating2", "rating3", "rating4", "rating5"];

            starList.forEach(function(item, i, arr) {
                if( i+1 <= Math.round(avg_rating)){
                    document.getElementById(item).classList.remove('fa-star-o');
                    document.getElementById(item).classList.add('fa-star');
                }
                else{
                    document.getElementById(item).classList.remove('fa-star');
                    document.getElementById(item).classList.add('fa-star-o');
                }
            });
        };
    </script>

    <div class="post">
        <div class="date">
            <p>Автор: <a href="{% url 'profile' pk=place.author.pk %}"> {{ place.author }}</a>
        </div>
        <h1><a href="{% url 'user_places' pk=profile_user.pk %}">{{ places_header }}/ </a>{{ place.name }}</h1>

        {% if place.deleted == False %}
            {% if user.is_authenticated and user == place.author %}
                <p><a href="{% url 'place_edit' pk=place.pk %}">редактировать</a>
                    <a href="{% url 'place_remove' pk=place.pk %}"> удалить</a></p>
            {% endif %}
            {% if user.is_staff and user != place.author %}
                <p><a href="{% url 'place_remove' pk=place.pk %}"> удалить</a></p>
            {% endif %}
        {% else %}
            <a href="{% url 'place_restore' pk=place.pk %}">Восстановить</a>
        {% endif %}

        <p>Координаты: {{place.latitude }}, {{ place.longitude }}</p>
        <p>{{ place.description|linebreaksbr }}</p>

        <div>
            {% if user.is_authenticated %}
                <p>
                    {% if rating %}
                        Моя оценка: {{ rating.rating }}
                    {% else %}
                        Вы ещё не оценивали это место
                    {% endif %}
                </p>
                <p>
                    Оцените место:
                    <a onmouseover="stars(0)" href="{% url 'rate_place' pk=place.pk value=1 %}"><i id="star1" class="fa fa-star-o" ></i></a>
                    <a onmouseover="stars(1)" href="{% url 'rate_place' pk=place.pk value=2 %}"><i id="star2" class="fa fa-star-o"></i></a>
                    <a onmouseover="stars(2)" href="{% url 'rate_place' pk=place.pk value=3 %}"><i id="star3" class="fa fa-star-o"></i></a>
                    <a onmouseover="stars(3)" href="{% url 'rate_place' pk=place.pk value=4 %}"><i id="star4" class="fa fa-star-o"></i></a>
                    <a onmouseover="stars(4)" href="{% url 'rate_place' pk=place.pk value=5 %}"><i id="star5" class="fa fa-star-o"></i></a>
                    {{ place.average_rating }}
                </p>
            {% else %}
                <p>
                    <i id="rating1" class="fa fa-star-o" ></i></a>
                    <i id="rating2" class="fa fa-star-o"></i></a>
                    <i id="rating3" class="fa fa-star-o"></i></a>
                    <i id="rating4" class="fa fa-star-o"></i></a>
                    <i id="rating5" class="fa fa-star-o"></i></a>
                    {{ place.average_rating }}
                </p>
                <p>Авторизуйтесь для того, чтобы поставить оценку.</p>
            {% endif %}
        </div>

        {% if diary_list %}
            <h1>Записи, связанные с этим местом:</h1>
            {% for diary in diary_list %}
                <div>
                    <a href="{% url 'diary_detail' pk=diary.pk %}">{{ diary.name }}</a><br>
                    {{ diary.published_date }}&nbsp;
                    <a href="{% url 'diary_detail' pk=diary.pk %}#comments"><i class="fa fa-comment-o"></i></a>
                    {{ diary.comments_amount }}&nbsp;
                    <i class="fa fa-thumbs-o-up"></i>
                    {{ diary.likes_amount }}&nbsp;
                    <i class="fa fa-thumbs-o-down fa-flip-horizontal"></i>
                    {{ diary.dislikes_amount }}&nbsp;
                    <b>{% if diary.deleted == True %} Удалён {% endif %}</b><br><br>
                </div>
            {% endfor %}
        {% else %}
            <h1>С этим местом пока не связана ни одна запись.</h1>
        {% endif %}
    </div>

    <div id="mapid" style="width: 600px; height: 400px;"></div>
    <script>

        var mymap = L.map('mapid').setView([{{ place.latitude|unlocalize }}, {{ place.longitude|unlocalize }}], 11);

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            id: 'mapbox.streets'
        }).addTo(mymap);

        L.marker([{{ place.latitude|unlocalize }}, {{ place.longitude|unlocalize }}]).addTo(mymap)
        .bindPopup("{{ place.name }}").openPopup();


    </script>
    <script type="text/javascript">
        {% if user.is_authenticated %}
            fill_stars({{ place.average_rating|unlocalize }});
        {% else %}
            fill_stars_for_anonymous({{ place.average_rating|unlocalize }});
        {% endif %}
    </script>

{% endblock %}