{% extends 'base.html' %}

{% block content %}
    <h1>{{header}}</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.non_field_errors }}
        <div>
            {{ form.name.errors }}
            <label for="id_name">Название:</label>
            {{ form.name }}
        </div>
        <div>
            <br>
            {{ form.visibility.errors }}
            <label for="id_visibility">Кому видно:</label>
            {{ form.visibility }}
        </div>
        <div>
            {{ form.latitude.errors }}
            <label for="id_latitude">Широта:</label>
            <input id="id_latitude" type="text" hidden/>
            {{ form.latitude }}
        </div>
        <div class="fieldWrapper">
            {{ form.longitude.errors }}
            <label for="id_lonitude">Долгота:</label>
            <input id="id_lonitude" type="text" hidden/>
            {{ form.longitude }}
        </div>
        <div class="fieldWrapper">
            {{ form.description.errors }}
            <label for="id_description">Описание:</label>
            {{ form.description }}
        </div>
        <br><button type="submit" class="save btn btn-default">Сохранить</button>
    </form>

    <div id="map"></div>
    <script data-require="leaflet@0.7.3" data-semver="0.7.3" src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    <script>
        var tileLayer = new L.TileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png',{
          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
        });

        var map = new L.Map('map', {
          'center': [51.441767, 5.480247],
          'zoom': 12,
          'layers': [tileLayer]
        });

        var marker = L.marker([51.441767, 5.470247],{
          draggable: true
        }).addTo(map);

        marker.on('dragend', function (e) {
          document.getElementById('id_latitude').value = marker.getLatLng().lat;
          document.getElementById('id_lonitude').value = marker.getLatLng().lng;
        });
    </script>
{% endblock %}