{% extends 'base.html' %}

{% block content %}
    <h1>{{header}}</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.non_field_errors }}
        <div>
            {{ form.name.errors }}
            <label for="id_name">Название:</label>
            {{ form.name }}
        </div>
        <div>
            <br>
            {{ form.visibility.errors }}
            <label for="id_visibility">Кому видно:</label>
            {{ form.visibility }}
        </div>
        <div>
            {{ form.latitude.errors }}
            <label for="id_latitude">Широта:</label>
            {{ form.latitude }}
        </div>
        <div class="fieldWrapper">
            {{ form.longitude.errors }}
            <label for="id_lonitude">Долгота:</label>
            {{ form.longitude }}
        </div>
        <div class="fieldWrapper">
            {{ form.description.errors }}
            <label for="id_description">Описание:</label>
            {{ form.description }}
        </div>
        <br><button type="submit" class="save btn btn-default">Сохранить</button>
    </form>

    <script>
        $(function() {
      // use below if you want to specify the path for leaflet's images
      //L.Icon.Default.imagePath = '@Url.Content("~/Content/img/leaflet")';

      var curLocation = [0, 0];
      // use below if you have a model
      // var curLocation = [@Model.Location.Latitude, @Model.Location.Longitude];

      if (curLocation[0] == 0 && curLocation[1] == 0) {
        curLocation = [5.9714, 116.0953];
      }

      var map = L.map('MapLocation').setView(curLocation, 10);

      L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);

      map.attributionControl.setPrefix(false);

      var marker = new L.marker(curLocation, {
        draggable: 'true'
      });

      marker.on('dragend', function(event) {
        var position = marker.getLatLng();
        marker.setLatLng(position, {
          draggable: 'true'
        }).bindPopup(position).update();
        $("#Latitude").val(position.lat);
        $("#Longitude").val(position.lng).keyup();
      });

      $("#Latitude, #Longitude").change(function() {
        var position = [parseInt($("#Latitude").val()), parseInt($("#Longitude").val())];
        marker.setLatLng(position, {
          draggable: 'true'
        }).bindPopup(position).update();
        map.panTo(position);
      });

      map.addLayer(marker);
    })
    </script>

    <div class="example-container">
            <div id="MapLocation" style="height: 350px"></div>
            <label class="input">
              <input id="Latitude" placeholder="Latitude" name="Location.Latitude" />
              <!-- @Html.TextBoxFor(m => m.Location.Latitude, new {id = "Latitude", placeholder = "Latitude"}) -->
            </label>
            <label class="input">
              <input id="Longitude" placeholder="Longitude" name="Location.Longitude" />
              <!-- @Html.TextBoxFor(m => m.Location.Longitude, new {id = "Longitude", placeholder = "Longitude"}) -->
            </label>
    </div>
{% endblock %}