{% extends 'base_with_map.html' %}
{% load static %}
{% load l10n %}

{% block content %}

    <h1>Карта</h1>

    {% if sorted_list %}

        <div id="mapid" style="width: 800px; height: 600px;"></div>
        <script>

            var mymap = L.map('mapid').setView([55.76, 37.64], 3);


            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                maxZoom: 18,
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                    '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                    'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                id: 'mapbox.streets'
            }).addTo(mymap);

            {% if user.is_authenticated %}

                {% for place in secret_place_list %}
                    L.marker([{{ place.latitude|unlocalize }}, {{ place.longitude|unlocalize }}],{icon:secret_place_Icon}).addTo(mymap)
                    .bindPopup('<a href="{% url 'place_detail' pk=place.pk %}">{{ place.name }}</a>');
                {% endfor %}

                {% for place in another_place_list %}
                    L.marker([{{ place.latitude|unlocalize }}, {{ place.longitude|unlocalize }}],
                        {% if user == place.author %}
                            {icon:my_place_Icon}
                        {% else %}
                            {icon:another_place_Icon}
                        {% endif %})
                    .addTo(mymap)
                    .bindPopup('<a href="{% url 'place_detail' pk=place.pk %}">{{ place.name }}</a>');
                {% endfor %}

            {% else %}

                {% for place in sorted_list %}
                    L.marker([{{ place.latitude|unlocalize }}, {{ place.longitude|unlocalize }}],{icon:another_place_Icon}).addTo(mymap)
                    .bindPopup('<a href="{% url 'place_detail' pk=place.pk %}">{{ place.name }}</a>');
                {% endfor %}

            {% endif %}

        </script><br>

        {% if user.is_authenticated %}

            {% for place in sorted_list %}
                <div class="post">
                    <div class="date">
                        Автор места: <a href="{% url 'profile' pk=place.author.pk %}"> {{ place.author }}</a>
                    </div>
                    <h1>
                        <a href="{% url 'place_detail' pk=place.pk %}">{{ place.name }}</a>
                        {% if request.user == place.author and place.visibility == "me" %}
                            &nbsp;(секретное)
                        {% endif %}
                    </h1>
                    <p>{{ place.description|linebreaksbr|truncatewords:20  }}</p>
                    <p>
                        {% if 1 <= place.rounded_average_rating %}
                            <i class="fa fa-star"></i>
                        {% else %}
                            <i class="fa fa-star-o"></i>
                        {% endif %}
                        {% if 2 <= place.rounded_average_rating %}
                            <i class="fa fa-star"></i>
                        {% else %}
                            <i class="fa fa-star-o"></i>
                        {% endif %}
                        {% if 3 <= place.rounded_average_rating %}
                            <i class="fa fa-star"></i>
                        {% else %}
                            <i class="fa fa-star-o"></i>
                        {% endif %}
                        {% if 4 <= place.rounded_average_rating %}
                            <i class="fa fa-star"></i>
                        {% else %}
                            <i class="fa fa-star-o"></i>
                        {% endif %}
                        {% if 5 <= place.rounded_average_rating %}
                            <i class="fa fa-star"></i>
                        {% else %}
                            <i class="fa fa-star-o"></i>
                        {% endif %}
                        {{ place.average_rating }}
                    </p>
                </div>
            {% endfor %}

        {% else %}

            {% for place in sorted_list %}
                <div class="post">
                    <div class="date">
                        Автор места: <a href="{% url 'profile' pk=place.author.pk %}"> {{ place.author }}</a>
                    </div>
                    <h1>
                        <a href="{% url 'place_detail' pk=place.pk %}">{{ place.name }}</a>
                    </h1>
                    <p>{{ place.description|linebreaksbr|truncatewords:20  }}</p>
                    <p>
                        {% if 1 <= place.rounded_average_rating %}
                            <i class="fa fa-star"></i>
                        {% else %}
                            <i class="fa fa-star-o"></i>
                        {% endif %}
                        {% if 2 <= place.rounded_average_rating %}
                            <i class="fa fa-star"></i>
                        {% else %}
                            <i class="fa fa-star-o"></i>
                        {% endif %}
                        {% if 3 <= place.rounded_average_rating %}
                            <i class="fa fa-star"></i>
                        {% else %}
                            <i class="fa fa-star-o"></i>
                        {% endif %}
                        {% if 4 <= place.rounded_average_rating %}
                            <i class="fa fa-star"></i>
                        {% else %}
                            <i class="fa fa-star-o"></i>
                        {% endif %}
                        {% if 5 <= place.rounded_average_rating %}
                            <i class="fa fa-star"></i>
                        {% else %}
                            <i class="fa fa-star-o"></i>
                        {% endif %}
                        {{ place.average_rating }}
                    </p>
                </div>
            {% endfor %}

        {% endif %}

    {% endif %}

{% endblock %}